/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
 display: flex;
 flex-direction: column;
}

.innerBox{
  background: white;
  border: .5px solid black;
}

#outerBox{
  margin: 0 auto;
  height: 1000px;
  width: 1000px;
  border: 1px solid black;
  display: flex;
  flex-flow: row wrap;  
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
